* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}
/*
#workspaces {
    padding: 0 5px;
}
*/
#language, #pulseaudio,#network,#cpu, #memory, #temperature,#backlight, #battery, #clock, #tray {
    padding-right: 9px;
    padding-left: 8px;
    border-right: 1px solid #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #ffffff;
}
#workspaces button.active {
  /* background: #4F2799; */
  border: 2px solid #ffffff;
  color: #ffffff;
  /* border-color: #A020FF; */
  /* border-radius: 18px 18px 18px 18px; */
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* #mode { */
/*     background: #64727D; */
/*     border-bottom: 3px solid white; */
/* } */

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 3px;
}

/* #clock { */
/*     font-weight: bold; */
/* } */

/* #battery { */
/* } */

/* #battery icon { */
/*     color: red; */
/* } */

/* #battery.charging { */
/* } */

/* @keyframes blink { */
/*     to { */
/*         background-color: #ffffff; */
/*         color: black; */
/*     } */
/* } */

/* #battery.warning:not(.charging) { */
/*     color: white; */
/*     animation-name: blink; */
/*     animation-duration: 0.5s; */
/*     animation-timing-function: linear; */
/*     animation-iteration-count: infinite; */
/*     animation-direction: alternate; */
/* } */

/* #cpu { */
/* } */

/* #memory { */
/* } */

/* #network { */
/* } */

/* #network.disconnected { */
/*     background: #f53c3c; */
/* } */

/* #pulseaudio { */
/* } */

/* #pulseaudio.muted { */
/* } */

/* #custom-spotify { */
/*     color: rgb(102, 220, 105); */
/* } */

/* #tray { */
/* } */


